node_modules
dist
package-lock.json
database.sqlite
public/uploads
classified
downloaded
db.sqlite3*
.DS_Store
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
dataset
unclassified
saved_models/base_model
saved_models/classifier_model
backup-ai-smaller-dataset